F7y7IPdQlVAcScog.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Add metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add metadata": {
      "main": [
        [
          {
            "node": "Insert into staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize post": {
      "main": [
        [
          {
            "node": "Format to utc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert content": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert fact": {
      "main": [
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into staging": {
      "main": [
        [
          {
            "node": "Normalize post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format to utc": {
      "main": [
        [
          {
            "node": "Format to snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format to snapshot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-23T01:37:52.110Z",
  "id": "F7y7IPdQlVAcScog",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "dwh_ingest_posts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "d0e11f8b-0123-4e99-bab4-b2090453b366",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        112
      ],
      "id": "a48eeada-1cd9-4854-bae5-90ae0d8f7958",
      "name": "Split Out Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e82497-222a-45a7-bc56-1a9e068d4123",
              "name": "brand_id",
              "value": "={{ $json.blogId }}",
              "type": "string"
            },
            {
              "id": "e8c97ac9-4803-4215-94bb-3b87c911ffd6",
              "name": "social_network",
              "value": "={{ $('Settings').item.json.social_network }}",
              "type": "string"
            },
            {
              "id": "84e2f337-1b53-441e-9d8c-5dbd2814abce",
              "name": "endpoint",
              "value": "=/v2/analytics/posts/{{ $('Settings').item.json.social_network.toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        112
      ],
      "id": "f6b4360f-054b-4b0d-9b68-d4591691aeca",
      "name": "Add metadata"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5687a0e-819b-4495-9f01-2b79db377a68",
              "name": "norm_brand_id",
              "value": "={{ $json.brand_id }}",
              "type": "string"
            },
            {
              "id": "801bb5ba-61b0-4d11-b360-5c90ea97309e",
              "name": "norm_social_network",
              "value": "={{ $json.social_network }}",
              "type": "string"
            },
            {
              "id": "6e632d4e-0de2-4fa1-943a-5be04bc3c2a8",
              "name": "norm_external_post_id",
              "value": "={{ \n  $json.social_network === 'LINKEDIN'\n    ? $json.raw_json.postId\n    : $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.postId\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.postId\n    : ''\n}}",
              "type": "string"
            },
            {
              "id": "c32605bc-02bc-4235-9869-ad275f4693ce",
              "name": "norm_external_account_id",
              "value": "={{\n  $json.social_network === 'LINKEDIN'\n    ? $json.raw_json.companyId\n    : $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.pageId\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.businessId || $json.raw_json.userId\n    : ''\n}}",
              "type": "string"
            },
            {
              "id": "67817da8-40b4-4ea8-ab8f-a5c8c7d6cdb1",
              "name": "norm_content_type",
              "value": "={{ $json.raw_json.type || '' }}",
              "type": "string"
            },
            {
              "id": "7ed43a4b-efe4-4bb9-bd3f-61425ee5d474",
              "name": "norm_published_dateTime",
              "value": "={{\n  $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.dateTime\n    : $json.raw_json.created.dateTime\n}}",
              "type": "string"
            },
            {
              "id": "087bcf15-2a97-46ba-8ed4-f133973271f4",
              "name": "norm_published_timezone",
              "value": "={{\n  $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.timezone\n    : $json.raw_json.created.timezone\n}}\n",
              "type": "string"
            },
            {
              "id": "bc4e3354-4655-493c-b636-1360f18ef815",
              "name": "norm_text",
              "value": "={{\n  $json.social_network === 'LINKEDIN'\n    ? $json.raw_json.comment\n    : $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.text\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.content\n    : ''\n}}",
              "type": "string"
            },
            {
              "id": "0c0de05c-e9eb-4843-aba3-0faac9478f55",
              "name": "norm_url",
              "value": "={{ $json.raw_json.url || $json.raw_json.link || '' }}",
              "type": "string"
            },
            {
              "id": "7f5812dc-eaa9-49ec-bee9-5927a394ebe3",
              "name": "norm_picture_url",
              "value": "={{ $json.raw_json.picture || $json.raw_json.imageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "2a48bb77-0bab-4d95-85ca-cc70a6076c66",
              "name": "norm_raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        112
      ],
      "id": "4fab16d8-3699-47d2-8790-6f47acb8dc4a",
      "name": "Normalize post"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        80
      ],
      "id": "40906ccb-b297-4282-98bb-2f52ed175584",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://app.metricool.com/api/v2/analytics/posts/{{$json.social_network.toLowerCase()}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.date_to }}"
            },
            {
              "name": "timezone",
              "value": "America/Chicago"
            },
            {
              "name": "blogId",
              "value": "={{ $json.brandId }}"
            },
            {
              "name": "userId",
              "value": "2065617"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "AWSALB=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9; AWSALBCORS=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9"
            },
            {
              "name": "cookie",
              "value": "AWSALB=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9;AWSALBCORS=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9;"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        112
      ],
      "id": "fe361540-2b8c-4cea-9a54-a141b996448b",
      "name": "Get posts"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "dim_content",
          "mode": "list",
          "cachedResultName": "dim_content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_ai_generated": false,
            "social_network_id": "={{ \n  $json.norm_social_network === 'LINKEDIN'  ? 1 :\n  $json.norm_social_network === 'FACEBOOK' ? 2 :\n  $json.norm_social_network === 'INSTAGRAM'? 3 :\n  $json.norm_social_network === 'TIKTOK'   ? 4 :\n  $json.norm_social_network === 'YOUTUBE'  ? 5 :\n  null\n}}",
            "external_post_id": "={{ $json.norm_external_post_id }}",
            "brand_id": 1,
            "external_account_id": "={{ $json.norm_external_account_id }}",
            "content_type": "={{ $json.norm_content_type }}",
            "published_at_utc": "={{ $json.published_at_utc }}",
            "published_timezone": "={{ $json.norm_published_timezone }}",
            "text": "={{ $json.norm_text }}",
            "url": "={{ $json.norm_url }}",
            "picture_url": "={{ $json.norm_picture_url }}",
            "raw_metadata_json": "={{ $json.norm_raw }}"
          },
          "matchingColumns": [
            "social_network_id",
            "external_post_id"
          ],
          "schema": [
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "social_network_id",
              "displayName": "social_network_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "external_post_id",
              "displayName": "external_post_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "network_post_alt_id",
              "displayName": "network_post_alt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "external_account_id",
              "displayName": "external_account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_at_utc",
              "displayName": "published_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_timezone",
              "displayName": "published_timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "picture_url",
              "displayName": "picture_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_ai_generated",
              "displayName": "is_ai_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_metadata_json",
              "displayName": "raw_metadata_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        112
      ],
      "id": "775dd788-b9d0-4891-b66d-f8ad1a7e010f",
      "name": "Insert content",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "fact_social_content_metrics",
          "mode": "list",
          "cachedResultName": "fact_social_content_metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_id": "={{ $json.content_id }}",
            "social_network_id": "={{ $json.social_network_id }}",
            "snapshot_date_id": "={{ $json.snapshot_date_id }}",
            "snapshot_local_date_id": "={{ $json.snapshot_local_date_id }}",
            "impressions": "={{ $json.impressions }}",
            "likes": "={{ $json.likes }}",
            "engagement_pct": "={{ $json.engagement_pct }}",
            "source_endpoint": "={{ $json.source_endpoint }}",
            "extra_metrics": "={{ $json.extra_metrics }}",
            "brand_id": "={{ $json.brand_id }}",
            "stats_from_utc": "={{ $json.stats_from_utc }}",
            "stats_to_utc": "={{ $json.stats_to_utc }}",
            "clicks": "={{ $json.clicks }}",
            "video_views": "={{ $json.videoViews }}",
            "reach": "={{ $json.viewers }}",
            "video_time_watched_sec": "={{ $json.timeWatched }}"
          },
          "matchingColumns": [
            "content_id",
            "snapshot_date_id",
            "source_endpoint"
          ],
          "schema": [
            {
              "id": "fact_id",
              "displayName": "fact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "social_network_id",
              "displayName": "social_network_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "snapshot_date_id",
              "displayName": "snapshot_date_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snapshot_local_date_id",
              "displayName": "snapshot_local_date_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "interactions",
              "displayName": "interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "shares",
              "displayName": "shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "saves",
              "displayName": "saves",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_views",
              "displayName": "video_views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_time_watched_sec",
              "displayName": "video_time_watched_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "engagement_pct",
              "displayName": "engagement_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "extra_metrics",
              "displayName": "extra_metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_endpoint",
              "displayName": "source_endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stats_from_utc",
              "displayName": "stats_from_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "stats_to_utc",
              "displayName": "stats_to_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "loaded_at_utc",
              "displayName": "loaded_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2688,
        112
      ],
      "id": "4014abf0-d631-4b6e-9646-5a3554be7540",
      "name": "Insert fact",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14076d88-fc3e-4338-bd0f-deb45577a05e",
              "name": "content_id",
              "value": "={{ $json.content_id }}",
              "type": "string"
            },
            {
              "id": "6b51fb2a-c75f-45d5-bf78-4edd6644a0e8",
              "name": "brand_id",
              "value": "={{ $json.brand_id }}",
              "type": "string"
            },
            {
              "id": "d26b2699-5a47-4d29-b15b-cb8c92671ce0",
              "name": "social_network_id",
              "value": "={{ $json.social_network_id }}",
              "type": "string"
            },
            {
              "id": "0c6ee695-446d-422a-9412-499e7ceb7b1c",
              "name": "snapshot_date_id",
              "value": "={{ $('Merge').item.json.snapshot_date_id }}",
              "type": "string"
            },
            {
              "id": "fc30ed0e-d089-4bf7-ae09-9eb659969dd3",
              "name": "snapshot_local_date_id",
              "value": "={{ $('Merge').item.json.snapshot_date_id }}",
              "type": "string"
            },
            {
              "id": "8a60f2b4-e8a2-4f59-a9c1-df8108aa454c",
              "name": "impressions",
              "value": "={{ $json.raw_metadata_json.raw_json.impressions }}",
              "type": "string"
            },
            {
              "id": "3fce0918-4e9f-4f20-8ae2-0c6821b6965e",
              "name": "likes",
              "value": "={{ $json.raw_metadata_json.raw_json.likes }}",
              "type": "string"
            },
            {
              "id": "5ce0c9a6-eb36-4d21-8d08-a8236c9c9187",
              "name": "comments",
              "value": "={{ $json.raw_metadata_json.raw_json.comments }}",
              "type": "string"
            },
            {
              "id": "872c5283-a1fa-42ad-9e88-4ce0d79216a9",
              "name": "engagement_pct",
              "value": "={{ $json.raw_metadata_json.raw_json.engagement }}",
              "type": "string"
            },
            {
              "id": "8e5d9b50-ff92-4037-926a-fe26b6044cf5",
              "name": "extra_metrics",
              "value": "={{ $json.raw_metadata_json.raw_json }}",
              "type": "object"
            },
            {
              "id": "4faeda64-7673-4e4c-a13f-db58655552eb",
              "name": "source_endpoint",
              "value": "={{ $json.raw_metadata_json.raw_json.endpoint }}",
              "type": "string"
            },
            {
              "id": "bef0ec6a-54a3-41f2-9005-707b50f1a446",
              "name": "stats_from_utc",
              "value": "={{ $json.published_at_utc }}",
              "type": "string"
            },
            {
              "id": "a1f214ff-6d51-435d-a69a-dcb2ead27ba9",
              "name": "stats_to_utc",
              "value": "={{ $json.published_at_utc }}",
              "type": "string"
            },
            {
              "id": "744dccc8-0577-431c-b153-6f98bf938e32",
              "name": "videoViews",
              "value": "={{ $json.raw_metadata_json.raw_json.videoViews }}",
              "type": "string"
            },
            {
              "id": "e53d23ba-6aff-43a0-a994-194a2735c628",
              "name": "viewers",
              "value": "={{ $json.raw_metadata_json.raw_json.viewers }}",
              "type": "string"
            },
            {
              "id": "ebf4bf21-da42-4f70-b477-a4a8351a5c69",
              "name": "timeWatched",
              "value": "={{ $json.raw_metadata_json.raw_json.timeWatched }}",
              "type": "string"
            },
            {
              "id": "bf5f20ec-d7d7-422e-82fe-9c690a1a97fe",
              "name": "clicks",
              "value": "={{ $json.raw_metadata_json.raw_json.clicks }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        112
      ],
      "id": "de33150a-f801-4c1c-b324-289657d08996",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d15287b-1e68-441c-bad2-c1733019f4b2",
              "name": "social_network",
              "value": "LINKEDIN",
              "type": "string"
            },
            {
              "id": "f1043433-b7c0-433c-9447-42ee52cb5765",
              "name": "brandId",
              "value": "2539662",
              "type": "string"
            },
            {
              "id": "74645608-64bb-4cd2-88a4-d2e0ce95db98",
              "name": "date_from",
              "value": "={{ $now.minus(5, 'days').format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "adfebb11-d222-4111-b6e5-6041a58317b8",
              "name": "date_to",
              "value": "={{ $now.format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        112
      ],
      "id": "6e17bbac-5282-4608-a998-0b41e99fa6a4",
      "name": "Settings"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "staging_metricool_events",
          "mode": "list",
          "cachedResultName": "staging_metricool_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "brand_id": "={{ $json.brand_id }}",
            "social_network": "={{ $json.social_network }}",
            "endpoint": "={{ $json.endpoint }}",
            "raw_json": "={{ $json }}",
            "fetched_at_utc": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "social_network",
              "displayName": "social_network",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endpoint",
              "displayName": "endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_json",
              "displayName": "raw_json",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at_utc",
              "displayName": "fetched_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        112
      ],
      "id": "883e2b69-384e-429a-89df-ce5ba5fb98d0",
      "name": "Insert into staging",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.norm_published_dateTime }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd'T'HH:mm:ss'Z'",
        "outputFieldName": "published_at_utc",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1568,
        48
      ],
      "id": "84d4af44-cec3-485b-b50d-00659f20c0bc",
      "name": "Format to utc"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.published_at_utc }}",
        "format": "custom",
        "customFormat": "yyyyMMdd",
        "outputFieldName": "snapshot_date_id",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1792,
        -32
      ],
      "id": "f3decb48-bddf-4e78-a4ce-a31837030a2d",
      "name": "Format to snapshot"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "fact_social_content_metrics",
          "mode": "list",
          "cachedResultName": "fact_social_content_metrics"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        512
      ],
      "id": "b3dc3da7-20e2-433a-9eb2-c9761ecf6f18",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "jwar28",
    "name": "n8n-interns-intance-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-23T01:37:52.110Z",
      "createdAt": "2025-11-23T01:37:52.110Z",
      "role": "workflow:owner",
      "workflowId": "F7y7IPdQlVAcScog",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-24T20:32:05.782Z",
  "versionId": "1a5ee97a-1fe0-4347-b783-13a76d9b1cbc"
}