GSrCwF0xJrUHJMIF.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "AI Agent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (OpenAI)": {
      "main": [
        [
          {
            "node": "Check if Escalation Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Escalation Needed": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-07T16:36:02.438Z",
  "id": "GSrCwF0xJrUHJMIF",
  "isArchived": false,
  "meta": null,
  "name": "AI Customer Service Agent - Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        304
      ],
      "webhookId": "telegram-webhook-1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-message",
              "name": "userMessage",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "chat-id",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "user-name",
              "name": "userName",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Agent (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "M15FVsURlxj2jzLl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.response }}",
              "operation": "contains",
              "value2": "escalate"
            }
          ]
        },
        "options": {}
      },
      "id": "check-escalation",
      "name": "Check if Escalation Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Extract Message Data\"].json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "id": "send-telegram-response",
      "name": "Send Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        208
      ],
      "webhookId": "45764a69-c0b5-4344-bd21-010a7184bfb9"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Extract Message Data\"].json.chatId }}",
        "text": "Thank you for your patience. A human agent will contact you shortly. 👤",
        "additionalFields": {}
      },
      "id": "escalate-to-human",
      "name": "Escalate to Human Agent",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        400
      ],
      "webhookId": "3b952944-98cb-44d1-a330-d502ef5b234f"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "jwar28",
    "name": "n8n-interns-intance-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-07T16:36:02.438Z",
      "createdAt": "2026-01-07T16:36:02.438Z",
      "role": "workflow:owner",
      "workflowId": "GSrCwF0xJrUHJMIF",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-07T23:27:54.072Z",
  "versionId": "b0e1e2eb-5a27-47c1-a6c5-78cedffa485b"
}