LQqPBgoqzNGKSsgw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Has message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has message?": {
      "main": [
        [
          {
            "node": "HTTP Echo (httpbin)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Echo (httpbin)": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T17:33:37.174Z",
  "id": "LQqPBgoqzNGKSsgw",
  "isArchived": true,
  "meta": null,
  "name": "QA Webhook Ping (auto)",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "qa/ping",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "set",
      "name": "Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "source",
              "value": "anni-auto"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if",
      "name": "Has message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body?.message || $json.message || \"\"}}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "http",
      "name": "HTTP Echo (httpbin)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        920,
        220
      ],
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body || $json}}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 1000
          }
        }
      }
    },
    {
      "id": "respondOk",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        220
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, received: $json, now: new Date().toISOString() } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "respondBad",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        380
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: \"Missing message\", hint: \"POST JSON { message: \"hi\" }\" } }}",
        "options": {
          "responseCode": 400
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": null,
  "repo": {
    "owner": "jwar28",
    "name": "n8n-interns-intance-backup"
  },
  "settings": {
    "executionTimeout": 120,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-27T17:33:37.174Z",
      "createdAt": "2026-01-27T17:33:37.174Z",
      "role": "workflow:owner",
      "workflowId": "LQqPBgoqzNGKSsgw",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-06T13:43:36.995Z",
  "versionId": "9b521bfc-b512-4769-943c-383b93f7f795"
}