""/instagram_analysis_anniq.json
{
  "updatedAt": "2026-01-04T16:03:26.371Z",
  "createdAt": "2025-11-18T22:12:39.355Z",
  "id": "xqNcg2SLsDhleu7U",
  "name": "instagram_analysis_anniq",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a7032038-847a-49f6-94f7-fd605800dcdd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://app.metricool.com/api/v2/analytics/timelines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "network",
              "value": "instagram"
            },
            {
              "name": "metric",
              "value": "Followers"
            },
            {
              "name": "from",
              "value": "2025-09-18T17:03:51"
            },
            {
              "name": "to",
              "value": "2025-11-18T17:03:51"
            },
            {
              "name": "timezone",
              "value": "America/Chicago"
            },
            {
              "name": "subject",
              "value": "account"
            },
            {
              "name": "scope",
              "value": "string"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "AWSALB=oIiaDWsdtceb4ioX1dcWUGsj5DN0IXfKCdrBwNo8MdpNecKhP9lcg3NkTDu1j/TrvqUrmBBkwoYFpLQFI4nEqfWfUe5VGD2I+5xWTkIl1ZK2PM7FLsfRW5+qObn9; AWSALBCORS=oIiaDWsdtceb4ioX1dcWUGsj5DN0IXfKCdrBwNo8MdpNecKhP9lcg3NkTDu1j/TrvqUrmBBkwoYFpLQFI4nEqfWfUe5VGD2I+5xWTkIl1ZK2PM7FLsfRW5+qObn9"
            },
            {
              "name": "cookie",
              "value": "AWSALB=oIiaDWsdtceb4ioX1dcWUGsj5DN0IXfKCdrBwNo8MdpNecKhP9lcg3NkTDu1j/TrvqUrmBBkwoYFpLQFI4nEqfWfUe5VGD2I+5xWTkIl1ZK2PM7FLsfRW5+qObn9;AWSALBCORS=oIiaDWsdtceb4ioX1dcWUGsj5DN0IXfKCdrBwNo8MdpNecKhP9lcg3NkTDu1j/TrvqUrmBBkwoYFpLQFI4nEqfWfUe5VGD2I+5xWTkIl1ZK2PM7FLsfRW5+qObn9;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "3bb40c43-c61a-4497-8390-2abd8ce29d56",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "f8c3c8c5-fa92-49ef-8d27-0b76c46983ef",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"inicio\": {\n    \"dateTime\": \"{{ $json.values[0].dateTime }}\",\n    \"value\": {{ $json.values[0].value }}\n  },\n  \"fin\": {\n    \"dateTime\": \"{{ $json.values[$json.values.length - 1].dateTime }}\",\n    \"value\": {{ $json.values[$json.values.length - 1].value }}\n  },\n  \"diferencia\": {{$json.values[$json.values.length - 1].value - $json.values[0].value }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        0
      ],
      "id": "b94a6e86-31f5-4e80-8f21-e40f846dfc68",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8fbbdcbc-f999-49b4-9f84-285762ac9c0b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-18T22:12:39.355Z",
      "createdAt": "2025-11-18T22:12:39.355Z",
      "role": "workflow:owner",
      "workflowId": "xqNcg2SLsDhleu7U",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "activeVersion": null,
  "tags": []
}