workflows/H0xx4YW6M6yczPDX.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "basePath": "workflows",
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get linkedin posts from 7 days ago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get linkedin posts from 7 days ago": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-19T22:32:41.033Z",
  "id": "H0xx4YW6M6yczPDX",
  "isArchived": true,
  "meta": null,
  "name": "get_linkedin_posts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5d48ca8b-2055-4590-9790-c390b170f031",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "3bfb6615-44bf-47ef-9a79-7e83f10bb954",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://app.metricool.com/api/v2/analytics/posts/linkedin",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $now.minus(7, 'days').format(\"yyyy-MM-dd'T'HH:mm:ss\") }}"
            },
            {
              "name": "to",
              "value": "={{ $now.format(\"yyyy-MM-dd'T'HH:mm:ss\") }}"
            },
            {
              "name": "timezone",
              "value": "={{ $json.data.timezone }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.data.userId }}"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "AWSALB=0FfJU2or2jie6E983yDEzpNK3luY+bYXq4gOXCg96B1Ya7Ur/EZZ6So9ifhlYqmuEUXrsE7xeYpI3SIwB3SwvIMddu9VICTvd0pg+rHbqNlIOGbjMMz+OWtQEthY; AWSALBCORS=0FfJU2or2jie6E983yDEzpNK3luY+bYXq4gOXCg96B1Ya7Ur/EZZ6So9ifhlYqmuEUXrsE7xeYpI3SIwB3SwvIMddu9VICTvd0pg+rHbqNlIOGbjMMz+OWtQEthY"
            },
            {
              "name": "cookie",
              "value": "AWSALB=0FfJU2or2jie6E983yDEzpNK3luY+bYXq4gOXCg96B1Ya7Ur/EZZ6So9ifhlYqmuEUXrsE7xeYpI3SIwB3SwvIMddu9VICTvd0pg+rHbqNlIOGbjMMz+OWtQEthY;AWSALBCORS=0FfJU2or2jie6E983yDEzpNK3luY+bYXq4gOXCg96B1Ya7Ur/EZZ6So9ifhlYqmuEUXrsE7xeYpI3SIwB3SwvIMddu9VICTvd0pg+rHbqNlIOGbjMMz+OWtQEthY;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ],
      "id": "6c162505-ac26-4c33-a2b9-bb7c96b73da7",
      "name": "Get linkedin posts from 7 days ago"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "jwar28",
    "name": "n8n-interns-intance-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-19T22:32:41.033Z",
      "createdAt": "2025-11-19T22:32:41.033Z",
      "role": "workflow:owner",
      "workflowId": "H0xx4YW6M6yczPDX",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T07:59:57.670Z",
  "versionId": "6ae2e3b4-89f8-457b-8d63-92fb5b70a5a0"
}