workflows/hdnSE13XGRSSxcjL.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-06T20:25:59.102Z",
    "createdAt": "2026-01-06T20:25:59.102Z",
    "versionId": "57242e5f-e824-413d-8b87-fefdd9765728",
    "workflowId": "hdnSE13XGRSSxcjL",
    "nodes": [
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -128,
          -48
        ],
        "id": "7f7712fd-84d0-422e-87d7-634264021de6",
        "name": "Split Out Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d2e82497-222a-45a7-bc56-1a9e068d4123",
                "name": "brand_id",
                "value": "={{ $('When Executed by Another Workflow').item.json.brandId }}",
                "type": "string"
              },
              {
                "id": "e8c97ac9-4803-4215-94bb-3b87c911ffd6",
                "name": "social_network",
                "value": "={{ $('When Executed by Another Workflow').item.json.social_network }}",
                "type": "string"
              },
              {
                "id": "84e2f337-1b53-441e-9d8c-5dbd2814abce",
                "name": "endpoint",
                "value": "=/v2/analytics/posts/{{ $('When Executed by Another Workflow').item.json.social_network.toLowerCase() }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          96,
          -48
        ],
        "id": "98b697e4-93c7-4406-8e30-e5d6011471c5",
        "name": "Add metadata"
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"social_network\": \"INSTAGRAM\",\n  \"brandId\": \"2539662\",\n  \"date_from\": \"2025-11-17T15:48:06\",\n  \"date_to\": \"2025-12-01T15:48:06\"\n}"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -576,
          -48
        ],
        "id": "9eaaf5db-fff6-48d6-98d2-1e138288d0a8",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "url": "=https://app.metricool.com/api/v2/analytics/posts/{{$json.social_network.toLowerCase()}}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "from",
                "value": "={{ $json.date_from }}"
              },
              {
                "name": "to",
                "value": "={{ $json.date_to }}"
              },
              {
                "name": "timezone",
                "value": "America/Chicago"
              },
              {
                "name": "blogId",
                "value": "={{ $json.brandId }}"
              },
              {
                "name": "userId",
                "value": "2065617"
              },
              {
                "name": "userToken",
                "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Cookie",
                "value": "AWSALB=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9; AWSALBCORS=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9"
              },
              {
                "name": "cookie",
                "value": "AWSALB=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9;AWSALBCORS=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9;"
              }
            ]
          },
          "options": {
            "batching": {
              "batch": {}
            },
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -352,
          -48
        ],
        "id": "f6c60690-0477-4ed1-b270-e78b54e4e9aa",
        "name": "Get posts"
      },
      {
        "parameters": {
          "content": "## Get the posts on a specified social network\nRequire: \n- Social network name\n- Brand id of the company to search for\n- Range of dates to search   \n   \nReturns: \n- A list of post with specific metadata of the query",
          "height": 416,
          "width": 496
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -432,
          -304
        ],
        "typeVersion": 1,
        "id": "cfd981a0-a567-4794-a87b-d792833ef398",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Split Out Items": {
        "main": [
          [
            {
              "node": "Add metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get posts": {
        "main": [
          [
            {
              "node": "Split Out Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "57242e5f-e824-413d-8b87-fefdd9765728",
  "basePath": "workflows",
  "connections": {
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Add metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get posts": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T20:47:03.685Z",
  "id": "hdnSE13XGRSSxcjL",
  "isArchived": false,
  "meta": null,
  "name": "dwh_sw_get_posts_by_social_media",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -128,
        -48
      ],
      "id": "7f7712fd-84d0-422e-87d7-634264021de6",
      "name": "Split Out Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2e82497-222a-45a7-bc56-1a9e068d4123",
              "name": "brand_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.brandId }}",
              "type": "string"
            },
            {
              "id": "e8c97ac9-4803-4215-94bb-3b87c911ffd6",
              "name": "social_network",
              "value": "={{ $('When Executed by Another Workflow').item.json.social_network }}",
              "type": "string"
            },
            {
              "id": "84e2f337-1b53-441e-9d8c-5dbd2814abce",
              "name": "endpoint",
              "value": "=/v2/analytics/posts/{{ $('When Executed by Another Workflow').item.json.social_network.toLowerCase() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        -48
      ],
      "id": "98b697e4-93c7-4406-8e30-e5d6011471c5",
      "name": "Add metadata"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"social_network\": \"INSTAGRAM\",\n  \"brandId\": \"2539662\",\n  \"date_from\": \"2025-11-17T15:48:06\",\n  \"date_to\": \"2025-12-01T15:48:06\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        -48
      ],
      "id": "9eaaf5db-fff6-48d6-98d2-1e138288d0a8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://app.metricool.com/api/v2/analytics/posts/{{$json.social_network.toLowerCase()}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.date_to }}"
            },
            {
              "name": "timezone",
              "value": "America/Chicago"
            },
            {
              "name": "blogId",
              "value": "={{ $json.brandId }}"
            },
            {
              "name": "userId",
              "value": "2065617"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "AWSALB=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9; AWSALBCORS=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9"
            },
            {
              "name": "cookie",
              "value": "AWSALB=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9;AWSALBCORS=sg9qlNJcBEqe7VUSdD6kbFjZbe0Js56sac2fEEN0bO4zOG4o2vMwip5/+oy4YpIEunqDCGzMFhpJAWPpnmzV2tzHfrhfwvon6ZtdLLcwi3HNGWOOVFBG35/j5dh9;"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        -48
      ],
      "id": "f6c60690-0477-4ed1-b270-e78b54e4e9aa",
      "name": "Get posts"
    },
    {
      "parameters": {
        "content": "## Get the posts on a specified social network\nRequire: \n- Social network name\n- Brand id of the company to search for\n- Range of dates to search   \n   \nReturns: \n- A list of post with specific metadata of the query",
        "height": 416,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -304
      ],
      "typeVersion": 1,
      "id": "cfd981a0-a567-4794-a87b-d792833ef398",
      "name": "Sticky Note"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "social_network": "INSTAGRAM",
          "brandId": "2539662",
          "date_from": "2025-11-17T15:48:06",
          "date_to": "2025-12-01T15:48:06"
        }
      }
    ]
  },
  "repo": {
    "owner": "jwar28",
    "name": "n8n-interns-intance-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T20:47:03.685Z",
      "createdAt": "2025-12-01T20:47:03.685Z",
      "role": "workflow:owner",
      "workflowId": "hdnSE13XGRSSxcjL",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-04T15:30:35.933Z",
  "versionId": "57242e5f-e824-413d-8b87-fefdd9765728"
}