workflows/pCgi7MTmpiwccIj1.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "basePath": "workflows",
  "connections": {
    "Normalize post": {
      "main": [
        [
          {
            "node": "Format to utc",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert content": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into staging": {
      "main": [
        [
          {
            "node": "Normalize post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format to utc": {
      "main": [
        [
          {
            "node": "Format to snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format to snapshot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Split Out reels": {
      "main": [
        []
      ]
    },
    "Split Out stories": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-01T22:15:03.038Z",
  "id": "pCgi7MTmpiwccIj1",
  "isArchived": true,
  "meta": null,
  "name": "dwh_stories&reels_ingest",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5687a0e-819b-4495-9f01-2b79db377a68",
              "name": "norm_brand_id",
              "value": "={{ $json.brand_id }}",
              "type": "string"
            },
            {
              "id": "801bb5ba-61b0-4d11-b360-5c90ea97309e",
              "name": "norm_social_network",
              "value": "={{ $json.social_network }}",
              "type": "string"
            },
            {
              "id": "6e632d4e-0de2-4fa1-943a-5be04bc3c2a8",
              "name": "norm_external_post_id",
              "value": "={{ \n  $json.social_network === 'LINKEDIN'\n    ? $json.raw_json.postId\n    : $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.postId\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.postId\n    : ''\n}}",
              "type": "string"
            },
            {
              "id": "c32605bc-02bc-4235-9869-ad275f4693ce",
              "name": "norm_external_account_id",
              "value": "={{\n  $json.social_network === 'LINKEDIN'\n    ? $json.raw_json.companyId\n    : $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.pageId\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.businessId || $json.raw_json.userId\n    : ''\n}}",
              "type": "string"
            },
            {
              "id": "67817da8-40b4-4ea8-ab8f-a5c8c7d6cdb1",
              "name": "norm_content_type",
              "value": "={{ $json.raw_json.type.toUpperCase() || '' }}",
              "type": "string"
            },
            {
              "id": "7ed43a4b-efe4-4bb9-bd3f-61425ee5d474",
              "name": "norm_published_dateTime",
              "value": "={{\n  $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.dateTime\n    : $json.raw_json.created.dateTime\n}}",
              "type": "string"
            },
            {
              "id": "087bcf15-2a97-46ba-8ed4-f133973271f4",
              "name": "norm_published_timezone",
              "value": "={{\n  $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.timezone\n    : $json.raw_json.created.timezone\n}}\n",
              "type": "string"
            },
            {
              "id": "bc4e3354-4655-493c-b636-1360f18ef815",
              "name": "norm_text",
              "value": "={{\n  $json.social_network === 'LINKEDIN'\n    ? $json.raw_json.comment\n    : $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.text\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.content\n    : ''\n}}",
              "type": "string"
            },
            {
              "id": "0c0de05c-e9eb-4843-aba3-0faac9478f55",
              "name": "norm_url",
              "value": "={{ $json.raw_json.url || $json.raw_json.link || '' }}",
              "type": "string"
            },
            {
              "id": "7f5812dc-eaa9-49ec-bee9-5927a394ebe3",
              "name": "norm_picture_url",
              "value": "={{ $json.raw_json.picture || $json.raw_json.imageUrl || '' }}",
              "type": "string"
            },
            {
              "id": "2a48bb77-0bab-4d95-85ca-cc70a6076c66",
              "name": "norm_raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        1072
      ],
      "id": "5520eead-4f5c-4e37-91f6-f6ce2820ea3d",
      "name": "Normalize post"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        1040
      ],
      "id": "ec23ffe3-d82e-4a42-9d0d-31e2bc754ae6",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "dim_content",
          "mode": "list",
          "cachedResultName": "dim_content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_ai_generated": false,
            "social_network_id": "={{ \n  $json.norm_social_network === 'LINKEDIN'  ? 1 :\n  $json.norm_social_network === 'FACEBOOK' ? 2 :\n  $json.norm_social_network === 'INSTAGRAM'? 3 :\n  $json.norm_social_network === 'TIKTOK'   ? 4 :\n  $json.norm_social_network === 'YOUTUBE'  ? 5 :\n  $json.norm_social_network === 'WEBPAGE'  ? 16 :\n  null\n}}",
            "external_post_id": "={{ $json.norm_external_post_id }}",
            "brand_id": 1,
            "external_account_id": "={{ $json.norm_external_account_id }}",
            "content_type": "={{ $json.norm_content_type.toUpperCase() }}",
            "published_at_utc": "={{ $json.published_at_utc }}",
            "published_timezone": "={{ $json.norm_published_timezone }}",
            "text": "={{ $json.norm_text }}",
            "url": "={{ $json.norm_url }}",
            "picture_url": "={{ $json.norm_picture_url }}",
            "raw_metadata_json": "={{ $json.norm_raw }}"
          },
          "matchingColumns": [
            "social_network_id",
            "external_post_id"
          ],
          "schema": [
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "social_network_id",
              "displayName": "social_network_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "external_post_id",
              "displayName": "external_post_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "network_post_alt_id",
              "displayName": "network_post_alt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "external_account_id",
              "displayName": "external_account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_at_utc",
              "displayName": "published_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_timezone",
              "displayName": "published_timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "picture_url",
              "displayName": "picture_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_ai_generated",
              "displayName": "is_ai_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_metadata_json",
              "displayName": "raw_metadata_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        1072
      ],
      "id": "b19628b7-54e1-46ed-a61f-66f05c28beaf",
      "name": "Insert content",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "fact_social_content_metrics",
          "mode": "list",
          "cachedResultName": "fact_social_content_metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_id": "={{ $json.content_id }}",
            "social_network_id": "={{ $json.social_network_id }}",
            "snapshot_date_id": "={{ $json.snapshot_date_id }}",
            "snapshot_local_date_id": "={{ $json.snapshot_local_date_id }}",
            "impressions": "={{ $json.impressions }}",
            "likes": "={{ $json.likes }}",
            "engagement_pct": "={{ $json.engagement_pct }}",
            "source_endpoint": "={{ $json.source_endpoint }}",
            "extra_metrics": "={{ $json.extra_metrics }}",
            "brand_id": "={{ $json.brand_id }}",
            "stats_from_utc": "={{ $json.stats_from_utc }}",
            "stats_to_utc": "={{ $json.stats_to_utc }}",
            "clicks": "={{ $json.clicks }}",
            "video_views": "={{ $json.videoViews }}",
            "reach": "={{ $json.extra_metrics.reach }}",
            "video_time_watched_sec": "={{ $json.timeWatched }}",
            "saves": "={{ $json.extra_metrics.saved }}",
            "comments": "={{ $json.extra_metrics.comments }}",
            "shares": "={{ $json.extra_metrics.shares }}",
            "interactions": "={{ $json.extra_metrics.interactions }}"
          },
          "matchingColumns": [
            "content_id",
            "snapshot_date_id",
            "source_endpoint"
          ],
          "schema": [
            {
              "id": "fact_id",
              "displayName": "fact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "social_network_id",
              "displayName": "social_network_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "snapshot_date_id",
              "displayName": "snapshot_date_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snapshot_local_date_id",
              "displayName": "snapshot_local_date_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "interactions",
              "displayName": "interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "shares",
              "displayName": "shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "saves",
              "displayName": "saves",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_views",
              "displayName": "video_views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_time_watched_sec",
              "displayName": "video_time_watched_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "engagement_pct",
              "displayName": "engagement_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "extra_metrics",
              "displayName": "extra_metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_endpoint",
              "displayName": "source_endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stats_from_utc",
              "displayName": "stats_from_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "stats_to_utc",
              "displayName": "stats_to_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "loaded_at_utc",
              "displayName": "loaded_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        1072
      ],
      "id": "c00be307-827b-4a9f-addb-ede47aee1282",
      "name": "Insert fact",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14076d88-fc3e-4338-bd0f-deb45577a05e",
              "name": "content_id",
              "value": "={{ $json.content_id }}",
              "type": "string"
            },
            {
              "id": "6b51fb2a-c75f-45d5-bf78-4edd6644a0e8",
              "name": "brand_id",
              "value": "={{ $json.brand_id }}",
              "type": "string"
            },
            {
              "id": "d26b2699-5a47-4d29-b15b-cb8c92671ce0",
              "name": "social_network_id",
              "value": "={{ $json.social_network_id }}",
              "type": "string"
            },
            {
              "id": "0c6ee695-446d-422a-9412-499e7ceb7b1c",
              "name": "snapshot_date_id",
              "value": "={{ $('Merge').item.json.snapshot_date_id }}",
              "type": "string"
            },
            {
              "id": "fc30ed0e-d089-4bf7-ae09-9eb659969dd3",
              "name": "snapshot_local_date_id",
              "value": "={{ $('Merge').item.json.snapshot_date_id }}",
              "type": "string"
            },
            {
              "id": "8a60f2b4-e8a2-4f59-a9c1-df8108aa454c",
              "name": "impressions",
              "value": "={{ $json.raw_metadata_json.raw_json.impressions }}",
              "type": "string"
            },
            {
              "id": "3fce0918-4e9f-4f20-8ae2-0c6821b6965e",
              "name": "likes",
              "value": "={{ $json.raw_metadata_json.raw_json.likes }}",
              "type": "string"
            },
            {
              "id": "5ce0c9a6-eb36-4d21-8d08-a8236c9c9187",
              "name": "comments",
              "value": "={{ $json.raw_metadata_json.raw_json.comments }}",
              "type": "string"
            },
            {
              "id": "872c5283-a1fa-42ad-9e88-4ce0d79216a9",
              "name": "engagement_pct",
              "value": "={{ $json.raw_metadata_json.raw_json.engagement }}",
              "type": "string"
            },
            {
              "id": "8e5d9b50-ff92-4037-926a-fe26b6044cf5",
              "name": "extra_metrics",
              "value": "={{ $json.raw_metadata_json.raw_json }}",
              "type": "object"
            },
            {
              "id": "4faeda64-7673-4e4c-a13f-db58655552eb",
              "name": "source_endpoint",
              "value": "={{ $json.raw_metadata_json.raw_json.endpoint }}",
              "type": "string"
            },
            {
              "id": "bef0ec6a-54a3-41f2-9005-707b50f1a446",
              "name": "stats_from_utc",
              "value": "={{ $json.published_at_utc }}",
              "type": "string"
            },
            {
              "id": "a1f214ff-6d51-435d-a69a-dcb2ead27ba9",
              "name": "stats_to_utc",
              "value": "={{ $json.published_at_utc }}",
              "type": "string"
            },
            {
              "id": "744dccc8-0577-431c-b153-6f98bf938e32",
              "name": "videoViews",
              "value": "={{ $json.raw_metadata_json.raw_json.videoViews }}",
              "type": "string"
            },
            {
              "id": "e53d23ba-6aff-43a0-a994-194a2735c628",
              "name": "viewers",
              "value": "={{ $json.raw_metadata_json.raw_json.viewers }}",
              "type": "string"
            },
            {
              "id": "ebf4bf21-da42-4f70-b477-a4a8351a5c69",
              "name": "timeWatched",
              "value": "={{ $json.raw_metadata_json.raw_json.timeWatched }}",
              "type": "string"
            },
            {
              "id": "bf5f20ec-d7d7-422e-82fe-9c690a1a97fe",
              "name": "clicks",
              "value": "={{ $json.raw_metadata_json.raw_json.clicks }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        1072
      ],
      "id": "22f656c8-f1ea-4d20-a85d-a4a498b26811",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d15287b-1e68-441c-bad2-c1733019f4b2",
              "name": "social_networks",
              "value": "[ \"INSTAGRAM\", \"FACEBOOK\"]",
              "type": "array"
            },
            {
              "id": "f1043433-b7c0-433c-9447-42ee52cb5765",
              "name": "brandId",
              "value": "2539662",
              "type": "string"
            },
            {
              "id": "74645608-64bb-4cd2-88a4-d2e0ce95db98",
              "name": "date_from",
              "value": "={{ $now.minus(2, 'weeks').format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "adfebb11-d222-4111-b6e5-6041a58317b8",
              "name": "date_to",
              "value": "={{ $now.format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        512
      ],
      "id": "44dfeb80-b832-43cd-9c5c-441c155afb5d",
      "name": "Settings"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "staging_metricool_events",
          "mode": "list",
          "cachedResultName": "staging_metricool_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "brand_id": "={{ $json.brand_id }}",
            "social_network": "={{ $json.social_network }}",
            "endpoint": "={{ $json.endpoint }}",
            "raw_json": "={{ $json }}",
            "fetched_at_utc": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "social_network",
              "displayName": "social_network",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endpoint",
              "displayName": "endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_json",
              "displayName": "raw_json",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at_utc",
              "displayName": "fetched_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -944,
        1072
      ],
      "id": "b64f0b6f-b0a9-44eb-b532-81c33a307a51",
      "name": "Insert into staging",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.norm_published_dateTime }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd'T'HH:mm:ss'Z'",
        "outputFieldName": "published_at_utc",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -496,
        1000
      ],
      "id": "e4aaa8b5-f320-4a6a-86cf-a59c9f427c0f",
      "name": "Format to utc"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.published_at_utc }}",
        "format": "custom",
        "customFormat": "yyyyMMdd",
        "outputFieldName": "snapshot_date_id",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -272,
        928
      ],
      "id": "aafcedbd-940e-42b3-8816-2cf14151f714",
      "name": "Format to snapshot"
    },
    {
      "parameters": {
        "fieldToSplitOut": "social_networks",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -496,
        512
      ],
      "id": "e3b76d44-ff29-4ef6-81fc-f9dee4b568b5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        512
      ],
      "id": "a1ac0371-297e-486b-8c50-d259f40f6676",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -48,
        320
      ],
      "id": "3f6b6e0c-586b-47ef-aa70-ca4ae5911dd4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        512
      ],
      "id": "913fd594-20ce-4ab9-86d4-1dfdf32d4184",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://app.metricool.com/api/v2/analytics/reels/{{ $json.social_networks.toLowerCase() }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.date_to }}"
            },
            {
              "name": "timezone",
              "value": "America/Chicago"
            },
            {
              "name": "blogId",
              "value": "2539662"
            },
            {
              "name": "userId",
              "value": "2065617"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "AWSALB=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN; AWSALBCORS=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN"
            },
            {
              "name": "cookie",
              "value": "AWSALB=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN;AWSALBCORS=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        512
      ],
      "id": "e5652e1a-5054-45dc-997e-34f9b7ee7bd5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://app.metricool.com/api/v2/analytics/stories/{{ $json.social_networks.toLowerCase() }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.date_to }}"
            },
            {
              "name": "timezone",
              "value": "America/Chicago"
            },
            {
              "name": "blogId",
              "value": "2539662"
            },
            {
              "name": "userId",
              "value": "2065617"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "AWSALB=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN; AWSALBCORS=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN"
            },
            {
              "name": "cookie",
              "value": "AWSALB=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN;AWSALBCORS=PWwrjQMuEna1ICbczwkyqZSF7MADw0eCTgpftm4CDZO6BoakgjOPxFPw8WUYrcfPtMICgg5yh/rTY6yE+652DHTkQk3R3OSc7xGBpktoszy+52rp5NSjRngQCNTN;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        704
      ],
      "id": "bd0237b8-5ca2-42cf-9063-1e51994faa45",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        512
      ],
      "id": "451f3ddb-2f88-4ea5-8325-d94f054b2f09",
      "name": "Split Out reels"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        704
      ],
      "id": "344e7bd5-efb5-4310-87e1-87f9b70ffd29",
      "name": "Split Out stories"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "jwar28",
    "name": "n8n-interns-intance-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T22:15:03.038Z",
      "createdAt": "2025-12-01T22:15:03.038Z",
      "role": "workflow:owner",
      "workflowId": "pCgi7MTmpiwccIj1",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T20:44:37.706Z",
  "versionId": "118958f5-74aa-49b1-b285-efbd07da926b"
}