flows/dws_reels_ingest.json
{
  "updatedAt": "2026-02-06T17:40:41.332Z",
  "createdAt": "2025-12-04T20:45:43.722Z",
  "id": "odRuBTammEghKSQN",
  "name": "dws_reels_ingest",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5687a0e-819b-4495-9f01-2b79db377a68",
              "name": "norm_brand_id",
              "value": "={{ $json.raw_json.db_brand_id }}",
              "type": "string"
            },
            {
              "id": "801bb5ba-61b0-4d11-b360-5c90ea97309e",
              "name": "norm_social_network",
              "value": "={{ $json.raw_json.code }}",
              "type": "string"
            },
            {
              "id": "6e632d4e-0de2-4fa1-943a-5be04bc3c2a8",
              "name": "norm_external_post_id",
              "value": "={{ \n  $json.social_network === 'FACEBOOK'\n    ? ($json.raw_json.reelId ?? '')\n    : $json.social_network === 'INSTAGRAM'\n    ? ($json.raw_json.reelId ?? '')\n    : ''\n}}\n",
              "type": "string"
            },
            {
              "id": "c32605bc-02bc-4235-9869-ad275f4693ce",
              "name": "norm_external_account_id",
              "value": "={{ \n  $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.pageId\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.businessId\n    : ''\n}}\n",
              "type": "string"
            },
            {
              "id": "67817da8-40b4-4ea8-ab8f-a5c8c7d6cdb1",
              "name": "norm_content_type",
              "value": "={{ \n  $json.social_network === 'FACEBOOK'\n    ? `FB_REEL`\n    : $json.social_network === 'INSTAGRAM'\n    ? `IG_REEL`\n    : 'UNKNOWN_STORY'\n}}\n",
              "type": "string"
            },
            {
              "id": "7ed43a4b-efe4-4bb9-bd3f-61425ee5d474",
              "name": "norm_published_dateTime",
              "value": "={{ \n  $json.social_network === 'INSTAGRAM'\n    ? ($json.raw_json.publishedAt?.dateTime ?? '')\n    : ($json.raw_json.created?.dateTime ?? '')\n}}",
              "type": "string"
            },
            {
              "id": "087bcf15-2a97-46ba-8ed4-f133973271f4",
              "name": "norm_published_timezone",
              "value": "={{\n  $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.timezone\n    : $json.raw_json.created.timezone\n}}\n",
              "type": "string"
            },
            {
              "id": "bc4e3354-4655-493c-b636-1360f18ef815",
              "name": "norm_text",
              "value": "={{ \n  (\n    $json.social_network === 'INSTAGRAM'\n      ? ($json.raw_json.content ?? $json.raw_json.description ?? '')\n      : $json.social_network === 'FACEBOOK'\n      ? ($json.raw_json.description ?? '')\n      : ''\n  )\n  .toString()\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}",
              "type": "string"
            },
            {
              "id": "0c0de05c-e9eb-4843-aba3-0faac9478f55",
              "name": "norm_url",
              "value": "={{ $json.raw_json.reelUrl || $json.raw_json.url || '' }}",
              "type": "string"
            },
            {
              "id": "7f5812dc-eaa9-49ec-bee9-5927a394ebe3",
              "name": "norm_picture_url",
              "value": "={{ \n  $json.raw_json.mediaUrl \n  || $json.raw_json.thumbnailUrl \n  || $json.raw_json.imageUrl\n  || ''\n}}",
              "type": "string"
            },
            {
              "id": "05f3bce7-c990-49e6-a194-99403b3edf7d",
              "name": "snapshot_date_id",
              "value": "={{\n  $json.raw_json.code === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.dateTime.toDateTime().format('yyyyMMdd')\n    : $json.raw_json.created.dateTime.toDateTime().format('yyyyMMdd')\n}}",
              "type": "string"
            },
            {
              "id": "2a48bb77-0bab-4d95-85ca-cc70a6076c66",
              "name": "norm_raw",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -192
      ],
      "id": "8a300446-87c7-485c-b404-7e75972de3d2",
      "name": "Normalize post"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "dim_content",
          "mode": "list",
          "cachedResultName": "dim_content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_ai_generated": false,
            "external_post_id": "={{ $json.norm_external_post_id }}",
            "external_account_id": "={{ $json.norm_external_account_id }}",
            "content_type": "={{ $json.norm_content_type.toUpperCase() }}",
            "published_at_utc": "={{ $json.norm_published_dateTime }}",
            "published_timezone": "={{ $json.norm_published_timezone }}",
            "text": "={{ $json.norm_text }}",
            "url": "={{ $json.norm_url }}",
            "picture_url": "={{ $json.norm_picture_url }}",
            "raw_metadata_json": "={{ $json.norm_raw }}",
            "brand_id": "={{ $json.norm_brand_id }}",
            "social_network_id": "={{ $json.norm_raw.raw_json.social_network_db_id }}",
            "network_post_alt_id": "={{ $json.norm_raw.raw_json.mediaId || null }}"
          },
          "matchingColumns": [
            "social_network_id",
            "external_post_id"
          ],
          "schema": [
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "social_network_id",
              "displayName": "social_network_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "external_post_id",
              "displayName": "external_post_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "network_post_alt_id",
              "displayName": "network_post_alt_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "external_account_id",
              "displayName": "external_account_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_at_utc",
              "displayName": "published_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "published_timezone",
              "displayName": "published_timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "picture_url",
              "displayName": "picture_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "is_ai_generated",
              "displayName": "is_ai_generated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "raw_metadata_json",
              "displayName": "raw_metadata_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -192
      ],
      "id": "c9186644-12d1-445f-a326-9b38bb5cc671",
      "name": "Insert content",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "fact_social_content_metrics",
          "mode": "list",
          "cachedResultName": "fact_social_content_metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_id": "={{ $json.content_id }}",
            "social_network_id": "={{ $json.social_network_id }}",
            "snapshot_date_id": "={{ $json.snapshot_date_id }}",
            "impressions": "={{ $json.impressions }}",
            "likes": "={{ $json.likes }}",
            "engagement_pct": "={{ $json.engagement_pct }}",
            "source_endpoint": "={{ $json.source_endpoint }}",
            "extra_metrics": "={{ $json.extra_metrics }}",
            "brand_id": "={{ $json.brand_id }}",
            "stats_from_utc": "={{ $json.stats_from_utc }}",
            "stats_to_utc": "={{ $json.stats_to_utc }}",
            "clicks": "={{ $json.clicks }}",
            "video_views": "={{ $json.videoViews }}",
            "reach": "={{ $json.extra_metrics.reach }}",
            "video_time_watched_sec": "={{ $json.timeWatched }}",
            "saves": "={{ $json.extra_metrics.saved }}",
            "comments": "={{ $json.extra_metrics.comments }}",
            "shares": "={{ $json.extra_metrics.shares }}",
            "interactions": "={{ $json.extra_metrics.interactions }}"
          },
          "matchingColumns": [
            "content_id",
            "snapshot_date_id",
            "source_endpoint"
          ],
          "schema": [
            {
              "id": "fact_id",
              "displayName": "fact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "content_id",
              "displayName": "content_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "social_network_id",
              "displayName": "social_network_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "snapshot_date_id",
              "displayName": "snapshot_date_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "snapshot_local_date_id",
              "displayName": "snapshot_local_date_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "impressions",
              "displayName": "impressions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "reach",
              "displayName": "reach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "interactions",
              "displayName": "interactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "shares",
              "displayName": "shares",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "saves",
              "displayName": "saves",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_views",
              "displayName": "video_views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_time_watched_sec",
              "displayName": "video_time_watched_sec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "engagement_pct",
              "displayName": "engagement_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "extra_metrics",
              "displayName": "extra_metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_endpoint",
              "displayName": "source_endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stats_from_utc",
              "displayName": "stats_from_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "stats_to_utc",
              "displayName": "stats_to_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "loaded_at_utc",
              "displayName": "loaded_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        -192
      ],
      "id": "a0284aa6-07d6-4ced-8b50-ef51936c5816",
      "name": "Insert fact",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "dwh",
          "mode": "list",
          "cachedResultName": "dwh"
        },
        "table": {
          "__rl": true,
          "value": "staging_metricool_events",
          "mode": "list",
          "cachedResultName": "staging_metricool_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "brand_id": "={{$json.db_brand_id }}",
            "endpoint": "=https://app.metricool.com/api/v2/analytics/reels/{{ $json.code.toLowerCase() }}",
            "raw_json": "={{ $json }}",
            "fetched_at_utc": "={{ $now.toISO() }}",
            "social_network": "={{ $json.code }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "social_network",
              "displayName": "social_network",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endpoint",
              "displayName": "endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_json",
              "displayName": "raw_json",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at_utc",
              "displayName": "fetched_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        -192
      ],
      "id": "e32c73b4-405c-42e7-9a9b-85ec4006f881",
      "name": "Insert into staging",
      "credentials": {
        "postgres": {
          "id": "re5OmKdxt35y8szi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        -176
      ],
      "id": "f5b312c4-638b-4b68-861f-3ddd32e12345",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3151ba5f-d922-480e-ab96-7f6ff758a5fd",
              "name": "code",
              "value": "={{ $json.pageId ? 'FACEBOOK' : 'INSTAGRAM' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -288
      ],
      "id": "5e567886-0a0f-466b-809a-1589c69f0296",
      "name": "Tag network"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "code",
              "field2": "social_network"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        -192
      ],
      "id": "686f2378-deac-49c4-b887-2362afc2a4e4",
      "name": "Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14076d88-fc3e-4338-bd0f-deb45577a05e",
              "name": "content_id",
              "value": "={{ $json.content_id }}",
              "type": "string"
            },
            {
              "id": "6b51fb2a-c75f-45d5-bf78-4edd6644a0e8",
              "name": "brand_id",
              "value": "={{ $json.brand_id }}",
              "type": "string"
            },
            {
              "id": "d26b2699-5a47-4d29-b15b-cb8c92671ce0",
              "name": "social_network_id",
              "value": "={{ $json.social_network_id }}",
              "type": "string"
            },
            {
              "id": "0c6ee695-446d-422a-9412-499e7ceb7b1c",
              "name": "snapshot_date_id",
              "value": "={{ $json.published_at_utc.toDateTime().toUTC().format('yyyyMMdd') }}",
              "type": "string"
            },
            {
              "id": "8a60f2b4-e8a2-4f59-a9c1-df8108aa454c",
              "name": "impressions",
              "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.impressionsTotal\n    ?? $json.raw_metadata_json.raw_json.postImpressionsUnique\n    ?? $json.raw_metadata_json.raw_json.impressions\n    ?? 0\n  )\n}}",
              "type": "string"
            },
            {
              "id": "3fce0918-4e9f-4f20-8ae2-0c6821b6965e",
              "name": "likes",
              "value": "={{ $json.raw_metadata_json.raw_json.likes || 0 }}",
              "type": "string"
            },
            {
              "id": "5ce0c9a6-eb36-4d21-8d08-a8236c9c9187",
              "name": "comments",
              "value": "={{ $json.raw_metadata_json.raw_json.comments || 0 }}",
              "type": "string"
            },
            {
              "id": "872c5283-a1fa-42ad-9e88-4ce0d79216a9",
              "name": "engagement_pct",
              "value": "={{ $json.raw_metadata_json.raw_json.engagement || null }}",
              "type": "string"
            },
            {
              "id": "8e5d9b50-ff92-4037-926a-fe26b6044cf5",
              "name": "extra_metrics",
              "value": "={{ $json.raw_metadata_json.raw_json }}",
              "type": "object"
            },
            {
              "id": "4faeda64-7673-4e4c-a13f-db58655552eb",
              "name": "source_endpoint",
              "value": "={{ $json.raw_metadata_json.endpoint }}",
              "type": "string"
            },
            {
              "id": "bef0ec6a-54a3-41f2-9005-707b50f1a446",
              "name": "stats_from_utc",
              "value": "={{ $json.published_at_utc }}",
              "type": "string"
            },
            {
              "id": "a1f214ff-6d51-435d-a69a-dcb2ead27ba9",
              "name": "stats_to_utc",
              "value": "={{ $json.published_at_utc }}",
              "type": "string"
            },
            {
              "id": "744dccc8-0577-431c-b153-6f98bf938e32",
              "name": "videoViews",
              "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.views\n    ?? $json.raw_metadata_json.raw_json.blueReelsPlayCount\n    ?? null\n  )\n}}",
              "type": "string"
            },
            {
              "id": "e53d23ba-6aff-43a0-a994-194a2735c628",
              "name": "viewers",
              "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.reach\n    ?? $json.raw_metadata_json.raw_json.postImpressionsUnique\n    ?? $json.raw_metadata_json.raw_json.viewers\n    ?? null\n  )\n}}",
              "type": "string"
            },
            {
              "id": "ebf4bf21-da42-4f70-b477-a4a8351a5c69",
              "name": "timeWatched",
              "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.videoViewTotalTime\n    ?? $json.raw_metadata_json.raw_json.postVideoViewTimeSeconds\n    ?? null\n  )\n}}",
              "type": "string"
            },
            {
              "id": "bf5f20ec-d7d7-422e-82fe-9c690a1a97fe",
              "name": "clicks",
              "value": "={{ $json.raw_metadata_json.raw_json.clicks || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -192
      ],
      "id": "c780de1d-4c94-45c7-8eb9-1a676206dfe0",
      "name": "Set facts data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d15287b-1e68-441c-bad2-c1733019f4b2",
              "name": "social_networks",
              "value": "[\"FACEBOOK\",\"INSTAGRAM\"]",
              "type": "array"
            },
            {
              "id": "f1043433-b7c0-433c-9447-42ee52cb5765",
              "name": "brandId",
              "value": "2539662",
              "type": "string"
            },
            {
              "id": "74645608-64bb-4cd2-88a4-d2e0ce95db98",
              "name": "date_from",
              "value": "={{ $now.minus(7, 'days').format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "adfebb11-d222-4111-b6e5-6041a58317b8",
              "name": "date_to",
              "value": "={{ $now.format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        -176
      ],
      "id": "e284d238-b583-4ae8-a1af-5c54323a594a",
      "name": "Settings"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l4SvHrqFqn3Mw204",
          "mode": "list",
          "cachedResultUrl": "/workflow/l4SvHrqFqn3Mw204",
          "cachedResultName": "dwh_sw_get_socials_metadata"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "social_networks": "={{ $json.social_networks }}",
            "brand_id": "={{ $json.brandId }}",
            "date_from": "={{ $json.date_from }}",
            "date_to": "={{ $json.date_to }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "social_networks",
              "displayName": "social_networks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "brand_id",
              "displayName": "brand_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "date_from",
              "displayName": "date_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "date_to",
              "displayName": "date_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -464,
        -176
      ],
      "id": "38f804da-d738-42e4-bff6-11c7dde6d0a6",
      "name": "Get socials metadata",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://app.metricool.com/api/v2/analytics/reels/{{ $json.social_network.toLowerCase() }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.date_from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.date_to }}"
            },
            {
              "name": "timezone",
              "value": "America/Chicago"
            },
            {
              "name": "blogId",
              "value": "2539662"
            },
            {
              "name": "userId",
              "value": "2065617"
            },
            {
              "name": "userToken",
              "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -288
      ],
      "id": "c6fd23b6-f2bd-4f0a-9a7b-7457c8aac7b3",
      "name": "Get reels"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -288
      ],
      "id": "b446df79-112a-40b2-a3a3-2899e63a5a36",
      "name": "Split Out reels"
    }
  ],
  "connections": {
    "Normalize post": {
      "main": [
        [
          {
            "node": "Insert content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert content": {
      "main": [
        [
          {
            "node": "Set facts data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into staging": {
      "main": [
        [
          {
            "node": "Normalize post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag network": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Insert into staging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set facts data": {
      "main": [
        [
          {
            "node": "Insert fact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Get socials metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get socials metadata": {
      "main": [
        [
          {
            "node": "Get reels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get reels": {
      "main": [
        [
          {
            "node": "Split Out reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out reels": {
      "main": [
        [
          {
            "node": "Tag network",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5119929b-a8dd-4488-813e-4c2d2860e043",
  "activeVersionId": "5119929b-a8dd-4488-813e-4c2d2860e043",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-04T20:45:43.722Z",
      "createdAt": "2025-12-04T20:45:43.722Z",
      "role": "workflow:owner",
      "workflowId": "odRuBTammEghKSQN",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-06T17:40:44.906Z",
    "createdAt": "2026-02-06T17:40:41.336Z",
    "versionId": "5119929b-a8dd-4488-813e-4c2d2860e043",
    "workflowId": "odRuBTammEghKSQN",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a5687a0e-819b-4495-9f01-2b79db377a68",
                "name": "norm_brand_id",
                "value": "={{ $json.raw_json.db_brand_id }}",
                "type": "string"
              },
              {
                "id": "801bb5ba-61b0-4d11-b360-5c90ea97309e",
                "name": "norm_social_network",
                "value": "={{ $json.raw_json.code }}",
                "type": "string"
              },
              {
                "id": "6e632d4e-0de2-4fa1-943a-5be04bc3c2a8",
                "name": "norm_external_post_id",
                "value": "={{ \n  $json.social_network === 'FACEBOOK'\n    ? ($json.raw_json.reelId ?? '')\n    : $json.social_network === 'INSTAGRAM'\n    ? ($json.raw_json.reelId ?? '')\n    : ''\n}}\n",
                "type": "string"
              },
              {
                "id": "c32605bc-02bc-4235-9869-ad275f4693ce",
                "name": "norm_external_account_id",
                "value": "={{ \n  $json.social_network === 'FACEBOOK'\n    ? $json.raw_json.pageId\n    : $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.businessId\n    : ''\n}}\n",
                "type": "string"
              },
              {
                "id": "67817da8-40b4-4ea8-ab8f-a5c8c7d6cdb1",
                "name": "norm_content_type",
                "value": "={{ \n  $json.social_network === 'FACEBOOK'\n    ? `FB_REEL`\n    : $json.social_network === 'INSTAGRAM'\n    ? `IG_REEL`\n    : 'UNKNOWN_STORY'\n}}\n",
                "type": "string"
              },
              {
                "id": "7ed43a4b-efe4-4bb9-bd3f-61425ee5d474",
                "name": "norm_published_dateTime",
                "value": "={{ \n  $json.social_network === 'INSTAGRAM'\n    ? ($json.raw_json.publishedAt?.dateTime ?? '')\n    : ($json.raw_json.created?.dateTime ?? '')\n}}",
                "type": "string"
              },
              {
                "id": "087bcf15-2a97-46ba-8ed4-f133973271f4",
                "name": "norm_published_timezone",
                "value": "={{\n  $json.social_network === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.timezone\n    : $json.raw_json.created.timezone\n}}\n",
                "type": "string"
              },
              {
                "id": "bc4e3354-4655-493c-b636-1360f18ef815",
                "name": "norm_text",
                "value": "={{ \n  (\n    $json.social_network === 'INSTAGRAM'\n      ? ($json.raw_json.content ?? $json.raw_json.description ?? '')\n      : $json.social_network === 'FACEBOOK'\n      ? ($json.raw_json.description ?? '')\n      : ''\n  )\n  .toString()\n  .replace(/\\s+/g, ' ')\n  .trim()\n}}",
                "type": "string"
              },
              {
                "id": "0c0de05c-e9eb-4843-aba3-0faac9478f55",
                "name": "norm_url",
                "value": "={{ $json.raw_json.reelUrl || $json.raw_json.url || '' }}",
                "type": "string"
              },
              {
                "id": "7f5812dc-eaa9-49ec-bee9-5927a394ebe3",
                "name": "norm_picture_url",
                "value": "={{ \n  $json.raw_json.mediaUrl \n  || $json.raw_json.thumbnailUrl \n  || $json.raw_json.imageUrl\n  || ''\n}}",
                "type": "string"
              },
              {
                "id": "05f3bce7-c990-49e6-a194-99403b3edf7d",
                "name": "snapshot_date_id",
                "value": "={{\n  $json.raw_json.code === 'INSTAGRAM'\n    ? $json.raw_json.publishedAt.dateTime.toDateTime().format('yyyyMMdd')\n    : $json.raw_json.created.dateTime.toDateTime().format('yyyyMMdd')\n}}",
                "type": "string"
              },
              {
                "id": "2a48bb77-0bab-4d95-85ca-cc70a6076c66",
                "name": "norm_raw",
                "value": "={{ $json }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          880,
          -192
        ],
        "id": "8a300446-87c7-485c-b404-7e75972de3d2",
        "name": "Normalize post"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "value": "dwh",
            "mode": "list",
            "cachedResultName": "dwh"
          },
          "table": {
            "__rl": true,
            "value": "dim_content",
            "mode": "list",
            "cachedResultName": "dim_content"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "is_ai_generated": false,
              "external_post_id": "={{ $json.norm_external_post_id }}",
              "external_account_id": "={{ $json.norm_external_account_id }}",
              "content_type": "={{ $json.norm_content_type.toUpperCase() }}",
              "published_at_utc": "={{ $json.norm_published_dateTime }}",
              "published_timezone": "={{ $json.norm_published_timezone }}",
              "text": "={{ $json.norm_text }}",
              "url": "={{ $json.norm_url }}",
              "picture_url": "={{ $json.norm_picture_url }}",
              "raw_metadata_json": "={{ $json.norm_raw }}",
              "brand_id": "={{ $json.norm_brand_id }}",
              "social_network_id": "={{ $json.norm_raw.raw_json.social_network_db_id }}",
              "network_post_alt_id": "={{ $json.norm_raw.raw_json.mediaId || null }}"
            },
            "matchingColumns": [
              "social_network_id",
              "external_post_id"
            ],
            "schema": [
              {
                "id": "content_id",
                "displayName": "content_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "brand_id",
                "displayName": "brand_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "social_network_id",
                "displayName": "social_network_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "external_post_id",
                "displayName": "external_post_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "network_post_alt_id",
                "displayName": "network_post_alt_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "external_account_id",
                "displayName": "external_account_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "content_type",
                "displayName": "content_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "published_at_utc",
                "displayName": "published_at_utc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "published_timezone",
                "displayName": "published_timezone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "url",
                "displayName": "url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "picture_url",
                "displayName": "picture_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "is_ai_generated",
                "displayName": "is_ai_generated",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": false
              },
              {
                "id": "raw_metadata_json",
                "displayName": "raw_metadata_json",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1104,
          -192
        ],
        "id": "c9186644-12d1-445f-a326-9b38bb5cc671",
        "name": "Insert content",
        "credentials": {
          "postgres": {
            "id": "re5OmKdxt35y8szi",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "value": "dwh",
            "mode": "list",
            "cachedResultName": "dwh"
          },
          "table": {
            "__rl": true,
            "value": "fact_social_content_metrics",
            "mode": "list",
            "cachedResultName": "fact_social_content_metrics"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "content_id": "={{ $json.content_id }}",
              "social_network_id": "={{ $json.social_network_id }}",
              "snapshot_date_id": "={{ $json.snapshot_date_id }}",
              "impressions": "={{ $json.impressions }}",
              "likes": "={{ $json.likes }}",
              "engagement_pct": "={{ $json.engagement_pct }}",
              "source_endpoint": "={{ $json.source_endpoint }}",
              "extra_metrics": "={{ $json.extra_metrics }}",
              "brand_id": "={{ $json.brand_id }}",
              "stats_from_utc": "={{ $json.stats_from_utc }}",
              "stats_to_utc": "={{ $json.stats_to_utc }}",
              "clicks": "={{ $json.clicks }}",
              "video_views": "={{ $json.videoViews }}",
              "reach": "={{ $json.extra_metrics.reach }}",
              "video_time_watched_sec": "={{ $json.timeWatched }}",
              "saves": "={{ $json.extra_metrics.saved }}",
              "comments": "={{ $json.extra_metrics.comments }}",
              "shares": "={{ $json.extra_metrics.shares }}",
              "interactions": "={{ $json.extra_metrics.interactions }}"
            },
            "matchingColumns": [
              "content_id",
              "snapshot_date_id",
              "source_endpoint"
            ],
            "schema": [
              {
                "id": "fact_id",
                "displayName": "fact_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "content_id",
                "displayName": "content_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "brand_id",
                "displayName": "brand_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "social_network_id",
                "displayName": "social_network_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "snapshot_date_id",
                "displayName": "snapshot_date_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "snapshot_local_date_id",
                "displayName": "snapshot_local_date_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "impressions",
                "displayName": "impressions",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "reach",
                "displayName": "reach",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "interactions",
                "displayName": "interactions",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "likes",
                "displayName": "likes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "comments",
                "displayName": "comments",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "shares",
                "displayName": "shares",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "saves",
                "displayName": "saves",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "clicks",
                "displayName": "clicks",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "video_views",
                "displayName": "video_views",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "video_time_watched_sec",
                "displayName": "video_time_watched_sec",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "engagement_pct",
                "displayName": "engagement_pct",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false
              },
              {
                "id": "extra_metrics",
                "displayName": "extra_metrics",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": false
              },
              {
                "id": "source_endpoint",
                "displayName": "source_endpoint",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "stats_from_utc",
                "displayName": "stats_from_utc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "stats_to_utc",
                "displayName": "stats_to_utc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "loaded_at_utc",
                "displayName": "loaded_at_utc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1552,
          -192
        ],
        "id": "a0284aa6-07d6-4ced-8b50-ef51936c5816",
        "name": "Insert fact",
        "credentials": {
          "postgres": {
            "id": "re5OmKdxt35y8szi",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "dwh",
            "mode": "list",
            "cachedResultName": "dwh"
          },
          "table": {
            "__rl": true,
            "value": "staging_metricool_events",
            "mode": "list",
            "cachedResultName": "staging_metricool_events"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "brand_id": "={{$json.db_brand_id }}",
              "endpoint": "=https://app.metricool.com/api/v2/analytics/reels/{{ $json.code.toLowerCase() }}",
              "raw_json": "={{ $json }}",
              "fetched_at_utc": "={{ $now.toISO() }}",
              "social_network": "={{ $json.code }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "brand_id",
                "displayName": "brand_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "social_network",
                "displayName": "social_network",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "endpoint",
                "displayName": "endpoint",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "raw_json",
                "displayName": "raw_json",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true
              },
              {
                "id": "fetched_at_utc",
                "displayName": "fetched_at_utc",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          656,
          -192
        ],
        "id": "e32c73b4-405c-42e7-9a9b-85ec4006f881",
        "name": "Insert into staging",
        "credentials": {
          "postgres": {
            "id": "re5OmKdxt35y8szi",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -912,
          -176
        ],
        "id": "f5b312c4-638b-4b68-861f-3ddd32e12345",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3151ba5f-d922-480e-ab96-7f6ff758a5fd",
                "name": "code",
                "value": "={{ $json.pageId ? 'FACEBOOK' : 'INSTAGRAM' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          -288
        ],
        "id": "5e567886-0a0f-466b-809a-1589c69f0296",
        "name": "Tag network"
      },
      {
        "parameters": {
          "mode": "combine",
          "advanced": true,
          "mergeByFields": {
            "values": [
              {
                "field1": "code",
                "field2": "social_network"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          432,
          -192
        ],
        "id": "686f2378-deac-49c4-b887-2362afc2a4e4",
        "name": "Data"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "14076d88-fc3e-4338-bd0f-deb45577a05e",
                "name": "content_id",
                "value": "={{ $json.content_id }}",
                "type": "string"
              },
              {
                "id": "6b51fb2a-c75f-45d5-bf78-4edd6644a0e8",
                "name": "brand_id",
                "value": "={{ $json.brand_id }}",
                "type": "string"
              },
              {
                "id": "d26b2699-5a47-4d29-b15b-cb8c92671ce0",
                "name": "social_network_id",
                "value": "={{ $json.social_network_id }}",
                "type": "string"
              },
              {
                "id": "0c6ee695-446d-422a-9412-499e7ceb7b1c",
                "name": "snapshot_date_id",
                "value": "={{ $json.published_at_utc.toDateTime().toUTC().format('yyyyMMdd') }}",
                "type": "string"
              },
              {
                "id": "8a60f2b4-e8a2-4f59-a9c1-df8108aa454c",
                "name": "impressions",
                "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.impressionsTotal\n    ?? $json.raw_metadata_json.raw_json.postImpressionsUnique\n    ?? $json.raw_metadata_json.raw_json.impressions\n    ?? 0\n  )\n}}",
                "type": "string"
              },
              {
                "id": "3fce0918-4e9f-4f20-8ae2-0c6821b6965e",
                "name": "likes",
                "value": "={{ $json.raw_metadata_json.raw_json.likes || 0 }}",
                "type": "string"
              },
              {
                "id": "5ce0c9a6-eb36-4d21-8d08-a8236c9c9187",
                "name": "comments",
                "value": "={{ $json.raw_metadata_json.raw_json.comments || 0 }}",
                "type": "string"
              },
              {
                "id": "872c5283-a1fa-42ad-9e88-4ce0d79216a9",
                "name": "engagement_pct",
                "value": "={{ $json.raw_metadata_json.raw_json.engagement || null }}",
                "type": "string"
              },
              {
                "id": "8e5d9b50-ff92-4037-926a-fe26b6044cf5",
                "name": "extra_metrics",
                "value": "={{ $json.raw_metadata_json.raw_json }}",
                "type": "object"
              },
              {
                "id": "4faeda64-7673-4e4c-a13f-db58655552eb",
                "name": "source_endpoint",
                "value": "={{ $json.raw_metadata_json.endpoint }}",
                "type": "string"
              },
              {
                "id": "bef0ec6a-54a3-41f2-9005-707b50f1a446",
                "name": "stats_from_utc",
                "value": "={{ $json.published_at_utc }}",
                "type": "string"
              },
              {
                "id": "a1f214ff-6d51-435d-a69a-dcb2ead27ba9",
                "name": "stats_to_utc",
                "value": "={{ $json.published_at_utc }}",
                "type": "string"
              },
              {
                "id": "744dccc8-0577-431c-b153-6f98bf938e32",
                "name": "videoViews",
                "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.views\n    ?? $json.raw_metadata_json.raw_json.blueReelsPlayCount\n    ?? null\n  )\n}}",
                "type": "string"
              },
              {
                "id": "e53d23ba-6aff-43a0-a994-194a2735c628",
                "name": "viewers",
                "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.reach\n    ?? $json.raw_metadata_json.raw_json.postImpressionsUnique\n    ?? $json.raw_metadata_json.raw_json.viewers\n    ?? null\n  )\n}}",
                "type": "string"
              },
              {
                "id": "ebf4bf21-da42-4f70-b477-a4a8351a5c69",
                "name": "timeWatched",
                "value": "={{\n  Number(\n    $json.raw_metadata_json.raw_json.videoViewTotalTime\n    ?? $json.raw_metadata_json.raw_json.postVideoViewTimeSeconds\n    ?? null\n  )\n}}",
                "type": "string"
              },
              {
                "id": "bf5f20ec-d7d7-422e-82fe-9c690a1a97fe",
                "name": "clicks",
                "value": "={{ $json.raw_metadata_json.raw_json.clicks || null }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1328,
          -192
        ],
        "id": "c780de1d-4c94-45c7-8eb9-1a676206dfe0",
        "name": "Set facts data"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5d15287b-1e68-441c-bad2-c1733019f4b2",
                "name": "social_networks",
                "value": "[\"FACEBOOK\",\"INSTAGRAM\"]",
                "type": "array"
              },
              {
                "id": "f1043433-b7c0-433c-9447-42ee52cb5765",
                "name": "brandId",
                "value": "2539662",
                "type": "string"
              },
              {
                "id": "74645608-64bb-4cd2-88a4-d2e0ce95db98",
                "name": "date_from",
                "value": "={{ $now.minus(7, 'days').format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
                "type": "string"
              },
              {
                "id": "adfebb11-d222-4111-b6e5-6041a58317b8",
                "name": "date_to",
                "value": "={{ $now.format(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -688,
          -176
        ],
        "id": "e284d238-b583-4ae8-a1af-5c54323a594a",
        "name": "Settings"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "l4SvHrqFqn3Mw204",
            "mode": "list",
            "cachedResultUrl": "/workflow/l4SvHrqFqn3Mw204",
            "cachedResultName": "dwh_sw_get_socials_metadata"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "social_networks": "={{ $json.social_networks }}",
              "brand_id": "={{ $json.brandId }}",
              "date_from": "={{ $json.date_from }}",
              "date_to": "={{ $json.date_to }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "social_networks",
                "displayName": "social_networks",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "brand_id",
                "displayName": "brand_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "date_from",
                "displayName": "date_from",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "date_to",
                "displayName": "date_to",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          -464,
          -176
        ],
        "id": "38f804da-d738-42e4-bff6-11c7dde6d0a6",
        "name": "Get socials metadata",
        "executeOnce": false,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "=https://app.metricool.com/api/v2/analytics/reels/{{ $json.social_network.toLowerCase() }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "from",
                "value": "={{ $json.date_from }}"
              },
              {
                "name": "to",
                "value": "={{ $json.date_to }}"
              },
              {
                "name": "timezone",
                "value": "America/Chicago"
              },
              {
                "name": "blogId",
                "value": "2539662"
              },
              {
                "name": "userId",
                "value": "2065617"
              },
              {
                "name": "userToken",
                "value": "WKUBNYGKRXZASRKJYXOJVKHQCPTBGQTMVJHSZKZUNEPPMTEYVRQRAGZEYXLSTJAU"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            },
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -240,
          -288
        ],
        "id": "c6fd23b6-f2bd-4f0a-9a7b-7457c8aac7b3",
        "name": "Get reels"
      },
      {
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -16,
          -288
        ],
        "id": "b446df79-112a-40b2-a3a3-2899e63a5a36",
        "name": "Split Out reels"
      }
    ],
    "connections": {
      "Normalize post": {
        "main": [
          [
            {
              "node": "Insert content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert content": {
        "main": [
          [
            {
              "node": "Set facts data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert into staging": {
        "main": [
          [
            {
              "node": "Normalize post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Settings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tag network": {
        "main": [
          [
            {
              "node": "Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Data": {
        "main": [
          [
            {
              "node": "Insert into staging",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set facts data": {
        "main": [
          [
            {
              "node": "Insert fact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Settings": {
        "main": [
          [
            {
              "node": "Get socials metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get socials metadata": {
        "main": [
          [
            {
              "node": "Get reels",
              "type": "main",
              "index": 0
            },
            {
              "node": "Data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get reels": {
        "main": [
          [
            {
              "node": "Split Out reels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out reels": {
        "main": [
          [
            {
              "node": "Tag network",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Javier Guerra",
    "name": "Version 5119929b",
    "description": "",
    "autosaved": true
  },
  "tags": []
}