flows/My workflow 3.json
{
  "updatedAt": "2026-02-06T13:43:48.701Z",
  "createdAt": "2026-01-22T00:53:01.584Z",
  "id": "4yqvAGcztBChfPBl-tIO7",
  "name": "My workflow 3",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "9e6061e0-c10d-49be-b14a-5b0cea2553f3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1168,
        512
      ],
      "webhookId": "713a7f98-0e3d-4eb7-aafa-599ca627c8b4",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "code": {
          "supplyData": {
            "code": "let llms = await this.getInputConnectionData('ai_languageModel', 0);\nllms.reverse(); // reverse array, so the order matches the UI elements\n\nconst llm_index = $input.item.json.llm_index;\nif (!Number.isInteger(llm_index)) {\n  console.log(\"'llm_index' is udefined or not a valid integer\");\n  throw new Error(\"'llm_index' is udefined or not a valid integer\");\n}\n\nif(typeof llms[llm_index] === 'undefined') {\n  console.log(`No LLM found with index ${llm_index}`);\n  throw new Error(`No LLM found with index ${llm_index}`);\n}\n\nreturn llms[llm_index];"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "ai_languageModel"
            }
          ]
        }
      },
      "id": "c3e11b45-35a6-4ba8-88b9-751d04643029",
      "name": "Switch Model",
      "type": "@n8n/n8n-nodes-langchain.code",
      "position": [
        -848,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b4d30e-484a-4cc1-a691-0653ed764296",
              "name": "llm_index",
              "type": "number",
              "value": "={{ $json.llm_index || 0 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b60884ea-47d9-4011-b48f-4af7a07299d6",
      "name": "Set LLM index",
      "type": "n8n-nodes-base.set",
      "position": [
        -944,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24b4d30e-484a-4cc1-a691-0653ed764296",
              "name": "llm_index",
              "type": "number",
              "value": "={{ $('Set LLM index').item.json.llm_index + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "846906d8-6303-4e3c-b707-55125244d6f0",
      "name": "Increase LLM index",
      "type": "n8n-nodes-base.set",
      "position": [
        32,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "b78e32ae-fdca-4f56-b6bc-9309e14bb736",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        256,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3253e1f2-172e-4af4-a492-3b9c6e9e4797",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "Error in sub-node Switch Model"
            }
          ]
        },
        "options": {}
      },
      "id": "f8ebcca3-2188-4b68-ba47-d875c5ec5b8e",
      "name": "Check for expected error",
      "type": "n8n-nodes-base.if",
      "position": [
        -336,
        592
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b352627d-d692-47f8-8f8c-885b68073843",
              "name": "output",
              "type": "string",
              "value": "The loop finished without a satisfying result"
            }
          ]
        },
        "options": {}
      },
      "id": "3747b616-1d13-45fa-aab0-de05520ac1cf",
      "name": "Loop finished without results",
      "type": "n8n-nodes-base.set",
      "position": [
        -128,
        496
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b352627d-d692-47f8-8f8c-885b68073843",
              "name": "output",
              "type": "string",
              "value": "An unexpected error happened"
            }
          ]
        },
        "options": {}
      },
      "id": "236adb8b-5311-43a0-8673-4ed3669258eb",
      "name": "Unexpected error",
      "type": "n8n-nodes-base.set",
      "position": [
        -128,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b352627d-d692-47f8-8f8c-885b68073843",
              "name": "output",
              "type": "string",
              "value": "={{ $json.text || $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5b6b5b7-a407-4b11-b077-868f6ef51f8b",
      "name": "Return result",
      "type": "n8n-nodes-base.set",
      "position": [
        32,
        -32
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "options": {
          "categories": "pass, fail",
          "systemPromptTemplate": "You are a highly intelligent and accurate sentiment analyzer. Analyze the sentiment of the provided text. Categorize it into one of the following: {categories}. Use the provided formatting instructions. Only output the JSON.\n\n> Evaluate the following customer support response. Give a short JSON answer with a field “quality”: “pass” or “fail”. Only return “pass” if the response:\n\n1. Acknowledges both the broken keyboard and the late delivery  \n2. Uses a polite and empathetic tone  \n3. Offers a clear resolution or next step (like refund, replacement, or contact support)"
        }
      },
      "id": "c712d13f-f3f6-4bba-a47d-2784e4d666fb",
      "name": "Validate response",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "position": [
        -336,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You’re an AI assistant replying to a customer who is upset about a faulty product and late delivery. The customer uses sarcasm and is vague. Write a short, polite response, offering help."
            }
          ]
        }
      },
      "id": "56612ac4-d033-449c-8c6d-6bfc232d557a",
      "name": "Generate response",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -720,
        512
      ],
      "retryOnFail": false,
      "typeVersion": 1.6,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### Customer complaint - example\n\nI really *love* waiting two weeks just to get a keyboard that doesn’t even work. Great job. Any chance I could actually use the thing I paid for sometime this month?",
        "height": 140,
        "width": 480
      },
      "id": "89302957-e52b-4fa8-9df8-6636ad7632da",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Defines the LLM node by index which should be used.",
        "height": 240,
        "width": 220,
        "color": 7
      },
      "id": "368fcb4e-379d-47e7-a3d3-6d0e511fbbb8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Dynamically connects the LLM by the index provided in the previous node.",
        "height": 200,
        "width": 380,
        "color": 7
      },
      "id": "419952a3-fd2c-4546-b398-87959434ca86",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if LangChain Code Node ran into error. _Currently only supports error output from main Node_",
        "height": 260,
        "width": 220,
        "color": 7
      },
      "id": "12e1c57e-5170-4d03-8a35-23313996f487",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Generates a polite answer based on the customers complaint.",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "id": "6d2f436d-7634-4d0a-ae4e-5044d355a9c8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Analyses the generated answer by certain criteria",
        "height": 220,
        "width": 380,
        "color": 7
      },
      "id": "694f40b5-9a16-402a-960b-064e09636dd3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Increases the index to choose the next available LLM on the next run",
        "height": 240,
        "width": 220,
        "color": 7
      },
      "id": "3533ad79-5bce-4d62-b452-87946903eeae",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        928
      ],
      "id": "b9168810-19fb-4057-8d40-05e59ef228e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iMjPY9IRwa2fZuTA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -688,
        928
      ],
      "id": "ee9e6c90-8798-473a-ac7b-c87443a1f62f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "iMjPY9IRwa2fZuTA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        320
      ],
      "id": "3fa62df7-e9fd-4971-af7d-84638af5f107",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "iMjPY9IRwa2fZuTA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set LLM index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set LLM index": {
      "main": [
        [
          {
            "node": "Generate response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase LLM index": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Set LLM index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for expected error": {
      "main": [
        [
          {
            "node": "Loop finished without results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unexpected error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate response": {
      "main": [
        [
          {
            "node": "Return result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increase LLM index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate response": {
      "main": [
        [
          {
            "node": "Validate response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check for expected error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Switch Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Switch Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Validate response",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9972d71b-0f49-46ac-9ec5-2f4d31b1f5b8",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-22T00:53:01.584Z",
      "createdAt": "2026-01-22T00:53:01.584Z",
      "role": "workflow:owner",
      "workflowId": "4yqvAGcztBChfPBl-tIO7",
      "projectId": "bmvDuE1r6YNTedFD"
    }
  ],
  "activeVersion": null,
  "tags": []
}